<h1>This is story Index</h1>

<%= form_tag(stories_path, method: :get) do %>
  <%= select_tag "order", options_for_select([["Most Recent", "created_at"], ["Alphabetically", "title"]]) %>
  <%= submit_tag %>
<%end%>



<% @stories.each do |story| %>
  <h1><%= link_to story.title, story_path(story)%></h1>
<%end%>


<%= link_to "Add New Story", new_story_path %>
